/*��ʼ��*/
body{margin:0; font-family:Arial,'microsoft yahei',sans-serif;font-size:12px; color:#272626;}
h1,h2,h3,p,dl,dt,dd,form,input,select {margin:0;padding:0;}
th,td{padding:0;}
ul,ol{margin:0;padding:0;list-style-type:none;}
img {border:none;}
a {text-decoration:none;color:black;}
var,em {font-style:normal;}
table{border-collapse:collapse;}
img{ 
max-width:100%;height:auto; 
} 

.da_bj{ background:url(../img/login/dbj.png) no-repeat; background-size:cover; position:relative;}

/*
.login_bj{width:1094px; float:left;  margin-left:5%; background:url(../img/login/dn_bj.png) no-repeat; height:738px;}*/

.login_main{ width:320px; position:absolute; right:15%; top:130px; height:350px; background:#0a4d79; border-radius:5px; filter:alpha(opacity=60); /*IE�˾�͸����50%*/
-moz-opacity:0.6; /*Firefox˽��͸����50%*/
opacity:0.6;/*��͸����50%*/}

.login_main_A{ width:320px; position:absolute; right:15%;top:130px;}
.login_main_A ul{ width:260px; margin:0 auto;}
.login_main_A ul .neir{ float:left; margin-top:20px;}
.login_main_A ul li p{ float:left; color:#777;}
.login_main_A ul .biaot_t{ text-align:center;  margin-top:28px;font-size:24px; color:#fff;font-family:'microsoft yahei'}

.login_input{ width:216px; float:left; height:35px; font-family:Arial, 'microsoft yahei'; font-size:14px; background:#fff; border:none;}
.login_input1{ width:116px; float:left; height:35px; font-family:Arial, 'microsoft yahei'; font-size:14px; background:#fff; border:none;}
.login_main_A ul li .inpu_yzm{ float:left; margin-left:16px;}
.c_ckbox{ float:left; margin-top:1px;}
.tj_button{ width:260px; float:left; height:38px; background:#ff8e00; border:none; font-size:18px; color:#fff; font-family:Arial, 'microsoft yahei'; cursor:pointer;}
.btn_login{ width: 100%;background-color: #00d80f; border:0px;border-radius:0px; height:33px; font-size:16px;}
.btn_login:hover{ background-color: #00e910;}
