<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.buildp.dao.mapper.TSupplierQuotationMapper" >
  <resultMap id="BaseResultMap" type="com.ai.buildp.dao.model.TSupplierQuotation" >
    <id column="quotation_id" property="quotationId" jdbcType="BIGINT" />
    <result column="project_id" property="projectId" jdbcType="VARCHAR" />
    <result column="quotation_batch" property="quotationBatch" jdbcType="BIGINT" />
    <result column="supplier_id" property="supplierId" jdbcType="BIGINT" />
    <result column="material_id" property="materialId" jdbcType="BIGINT" />
    <result column="unit_price" property="unitPrice" jdbcType="BIGINT" />
    <result column="amount" property="amount" jdbcType="BIGINT" />
    <result column="measure_code" property="measureCode" jdbcType="VARCHAR" />
    <result column="total_price" property="totalPrice" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_user" property="updateUser" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    quotation_id, project_id, quotation_batch, supplier_id, material_id, unit_price, 
    amount, measure_code, total_price, create_time, create_user, update_time, update_user
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ai.buildp.dao.model.TSupplierQuotationExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_supplier_quotation
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitClauseStart != null and limitClauseStart >= 0" >
       limit #{limitClauseStart,jdbcType=INTEGER}, #{limitClauseCount,jdbcType=INTEGER}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_supplier_quotation
    where quotation_id = #{quotationId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_supplier_quotation
    where quotation_id = #{quotationId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.ai.buildp.dao.model.TSupplierQuotationExample" >
    delete from t_supplier_quotation
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ai.buildp.dao.model.TSupplierQuotation" >
    <selectKey resultType="java.lang.Long" keyProperty="quotationId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_supplier_quotation (project_id, quotation_batch, supplier_id, 
      material_id, unit_price, amount, 
      measure_code, total_price, create_time, 
      create_user, update_time, update_user
      )
    values (#{projectId,jdbcType=VARCHAR}, #{quotationBatch,jdbcType=BIGINT}, #{supplierId,jdbcType=BIGINT}, 
      #{materialId,jdbcType=BIGINT}, #{unitPrice,jdbcType=BIGINT}, #{amount,jdbcType=BIGINT}, 
      #{measureCode,jdbcType=VARCHAR}, #{totalPrice,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createUser,jdbcType=BIGINT}, #{updateTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ai.buildp.dao.model.TSupplierQuotation" >
    <selectKey resultType="java.lang.Long" keyProperty="quotationId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_supplier_quotation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="projectId != null" >
        project_id,
      </if>
      <if test="quotationBatch != null" >
        quotation_batch,
      </if>
      <if test="supplierId != null" >
        supplier_id,
      </if>
      <if test="materialId != null" >
        material_id,
      </if>
      <if test="unitPrice != null" >
        unit_price,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="measureCode != null" >
        measure_code,
      </if>
      <if test="totalPrice != null" >
        total_price,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updateUser != null" >
        update_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="projectId != null" >
        #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="quotationBatch != null" >
        #{quotationBatch,jdbcType=BIGINT},
      </if>
      <if test="supplierId != null" >
        #{supplierId,jdbcType=BIGINT},
      </if>
      <if test="materialId != null" >
        #{materialId,jdbcType=BIGINT},
      </if>
      <if test="unitPrice != null" >
        #{unitPrice,jdbcType=BIGINT},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=BIGINT},
      </if>
      <if test="measureCode != null" >
        #{measureCode,jdbcType=VARCHAR},
      </if>
      <if test="totalPrice != null" >
        #{totalPrice,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ai.buildp.dao.model.TSupplierQuotationExample" resultType="java.lang.Integer" >
    select count(*) from t_supplier_quotation
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_supplier_quotation
    <set >
      <if test="record.quotationId != null" >
        quotation_id = #{record.quotationId,jdbcType=BIGINT},
      </if>
      <if test="record.projectId != null" >
        project_id = #{record.projectId,jdbcType=VARCHAR},
      </if>
      <if test="record.quotationBatch != null" >
        quotation_batch = #{record.quotationBatch,jdbcType=BIGINT},
      </if>
      <if test="record.supplierId != null" >
        supplier_id = #{record.supplierId,jdbcType=BIGINT},
      </if>
      <if test="record.materialId != null" >
        material_id = #{record.materialId,jdbcType=BIGINT},
      </if>
      <if test="record.unitPrice != null" >
        unit_price = #{record.unitPrice,jdbcType=BIGINT},
      </if>
      <if test="record.amount != null" >
        amount = #{record.amount,jdbcType=BIGINT},
      </if>
      <if test="record.measureCode != null" >
        measure_code = #{record.measureCode,jdbcType=VARCHAR},
      </if>
      <if test="record.totalPrice != null" >
        total_price = #{record.totalPrice,jdbcType=BIGINT},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createUser != null" >
        create_user = #{record.createUser,jdbcType=BIGINT},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUser != null" >
        update_user = #{record.updateUser,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_supplier_quotation
    set quotation_id = #{record.quotationId,jdbcType=BIGINT},
      project_id = #{record.projectId,jdbcType=VARCHAR},
      quotation_batch = #{record.quotationBatch,jdbcType=BIGINT},
      supplier_id = #{record.supplierId,jdbcType=BIGINT},
      material_id = #{record.materialId,jdbcType=BIGINT},
      unit_price = #{record.unitPrice,jdbcType=BIGINT},
      amount = #{record.amount,jdbcType=BIGINT},
      measure_code = #{record.measureCode,jdbcType=VARCHAR},
      total_price = #{record.totalPrice,jdbcType=BIGINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      create_user = #{record.createUser,jdbcType=BIGINT},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      update_user = #{record.updateUser,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ai.buildp.dao.model.TSupplierQuotation" >
    update t_supplier_quotation
    <set >
      <if test="projectId != null" >
        project_id = #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="quotationBatch != null" >
        quotation_batch = #{quotationBatch,jdbcType=BIGINT},
      </if>
      <if test="supplierId != null" >
        supplier_id = #{supplierId,jdbcType=BIGINT},
      </if>
      <if test="materialId != null" >
        material_id = #{materialId,jdbcType=BIGINT},
      </if>
      <if test="unitPrice != null" >
        unit_price = #{unitPrice,jdbcType=BIGINT},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=BIGINT},
      </if>
      <if test="measureCode != null" >
        measure_code = #{measureCode,jdbcType=VARCHAR},
      </if>
      <if test="totalPrice != null" >
        total_price = #{totalPrice,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        update_user = #{updateUser,jdbcType=BIGINT},
      </if>
    </set>
    where quotation_id = #{quotationId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ai.buildp.dao.model.TSupplierQuotation" >
    update t_supplier_quotation
    set project_id = #{projectId,jdbcType=VARCHAR},
      quotation_batch = #{quotationBatch,jdbcType=BIGINT},
      supplier_id = #{supplierId,jdbcType=BIGINT},
      material_id = #{materialId,jdbcType=BIGINT},
      unit_price = #{unitPrice,jdbcType=BIGINT},
      amount = #{amount,jdbcType=BIGINT},
      measure_code = #{measureCode,jdbcType=VARCHAR},
      total_price = #{totalPrice,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=BIGINT}
    where quotation_id = #{quotationId,jdbcType=BIGINT}
  </update>
  <insert id="insertBatch" parameterType="com.ai.buildp.dao.model.TSupplierQuotation" >
    <selectKey resultType="java.lang.Long" keyProperty="quotationId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_supplier_quotation (project_id, 
      quotation_batch, supplier_id, material_id, 
      unit_price, amount, measure_code, 
      total_price, create_time, create_user, 
      update_time, update_user)
    values <foreach collection="list" item="item" index="index" separator="," > (#{item.projectId,jdbcType=VARCHAR}, 
      #{item.quotationBatch,jdbcType=BIGINT}, #{item.supplierId,jdbcType=BIGINT}, #{item.materialId,jdbcType=BIGINT}, 
      #{item.unitPrice,jdbcType=BIGINT}, #{item.amount,jdbcType=BIGINT}, #{item.measureCode,jdbcType=VARCHAR}, 
      #{item.totalPrice,jdbcType=BIGINT}, #{item.createTime,jdbcType=TIMESTAMP}, #{item.createUser,jdbcType=BIGINT}, 
      #{item.updateTime,jdbcType=TIMESTAMP}, #{item.updateUser,jdbcType=BIGINT})</foreach>
  </insert>
</mapper>